*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

figure {
    width: 400px;
    height: 400px;
    margin: 20px;
}